<h1>GPT Chat</h1>

<%@round.times do |convo|%>
  <div>
  <p>User</p>
  <p><%= cookies.fetch("user#{convo}") %>
  <p>Assistant</p>
  <p><%= cookies.fetch("response#{convo}") %>
  </div>
<%end%>

<form action = "/chat_conversation" method = "post" for="typed_message">
  <textarea id="typed_message" type="text" name="chat"></textarea>
  <button style="display:block;">Send!</button>
</form>
