<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <a href="/umbrella">Umbrella</a>
    <a href="/single_message">Single Ai message</a>
    <a href="/chat">Ai Chat</a>
  </head>

  <body>

    <%= yield %>
  </body>
</html>
